body, html {
    font-family: 'Lily Script One', cursive;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    background-color: black;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 20px;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 36px;
    color: #ff7300;
}

.doguinho {
    padding-left: 10px;
    height: 50px;
    width: 50px;
}

nav ul {
    display: flex;
    
}

nav ul > * + * {
    margin-left: 37px;
}

.link {
    display: inline-block;
    background-color: #d5823c;
    height: 50px;
    line-height: 50px;
    font-size: 36px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 15px;
    transition: 200ms;
}

.link:hover {
    background-color: black;
    color: #d5823c;
}

.bgcBranco {
    background-color: #a9ac93;
}

.homepage {
    display: flex;
    align-items: center;
    background-image: url(https://cdn.discordapp.com/attachments/788480442146750517/871448385255780462/chewy-fGxiRXr2oZg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-left: 45px;
}

.title {
    color: #ff7300;
    font-size: 80px;
}

.text {
    width: 630px;
    color: #ff7300;
    font-size: 32px;
    text-align: justify;
}

.title, .text {
    text-shadow: 1px 4px black;
}

.btn {
    color: white;
    background: #000000;
    border-radius: 30px;
    font-size: 38px;
    padding: 16px 50px;
    cursor: pointer;
    margin-top: 15px;
    transition: 350ms;
}

.btn:hover,
.btn:focus {
  box-shadow:
    inset -3.5em 0 0 0 #fff,
    inset 3.5em 0 0 0 #fff;
  color: #000;
}

.second {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150vh;
    background-color: #d5823c;
}

.subtitulo {
    color: #ff7300;
    font-size: 80px;
    text-shadow: 1px 4px black;
}

.columns {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.div1, .div2, .div3, .div4 {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    font-size: 25px;
}

img {
    border: 5px solid transparent;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.columns img:hover {
    border: 5px solid rgb(255, 166, 0);
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
    margin-top: 5px;
    text-shadow: 1px 1px #d5823c;
}

footer p:hover {
    color: crimson;
}

span {
    color: yellow;
}

@media (max-width: 700px) {
    header {
        width: 100%;
    }

    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        font-size: 20px;
    }

    .doguinho {
        width: 35px;
        height: 35px;
    }

    .link {
        font-size: 16px;
        
    }

    .homepage {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0%;
    }

    .title {
        font-size: 32px;
        width: 250px;
        margin-bottom: 10px;
    }

    .text {
        font-size: 23px;
        width: 250px;
     }

    .second {
        display: flex;
        justify-content: flex-start; 
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-bottom: 10px;
        height: 100%;
    }

    .columns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div1, .div2, .div3, .div4 {
        display: flex;
        width: 30%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    footer {
        padding: 10px;
    }
}