body, ul, li, p {
    margin: 0;
    padding: 0%;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Abril Fatface', cursive;
}

body {
    background-color: #f9c16a;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.flex {
    display: flex;
}

.header {
    background-color: #432f30;
    display: flex;
    background-color: #432f30;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
    margin: 15px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-end;
    padding: 15px;
    margin: 15px;
    border-radius: 20px;
}

.fofura {
    height: 105px;
    width: 105px;
}

#adote {
    display: flex;
    align-items: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 15px;
}

.menu li a:hover {
    color: #d5823c;
    background-color: black;
    border-radius: 10px;
    font-size: 25px;
    transition: 400ms;
}
.main {
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.column {
    height: 60vh;
    width: 70vw;
    margin: 30px;
    border-radius: 10px;
    text-align: center;
}

.dog {
    display: flex;
    justify-content: center;
}


img {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    height: 20vw;
    margin: 9px;
}

@media screen and (max-width: 500px) {
    .header a {
        display: flex;
        align-items: center;
    }

    .header {
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .menu li a:hover {
        color: rgb(212, 0, 212);
        background-color: black;
        border-radius: 10px;
        font-size: 25px;
        transition: 400ms;
    }

    .main {
        flex-direction: column;
        width: 100%;
    }

    .column {
        height: 70vh;
        width: 90%;
        margin: 20px;
        border-radius: 10px;
        text-align: center;
        padding-top: 10px;
    }

    img {
        width: 80%;
        height: 95px;
        margin: 9px;
    }
}